* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.container {
  width: auto;
  max-width: 980px;
  margin: auto;
}

.home {
  background: #445688;
}

.home .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 300px;
  height: 260px;
  background: #18305a;
  /* 003153  */
  color: #fff;
  padding: 40px;
  margin: 16px 0;
}

.card h1 {
  font-size: 30px;
  text-align: center;
}

.card a {
  text-decoration: none;
  display: inline-block;
  background: #40538a;
  color: #fff;
  padding: 10px;
  margin: 14px 0 0 0;
  transition: all 300ms ease-in-out;
}

.card a:hover {
  background: #3a4c80;
}

.full {
  background: #2a3961;
}

.full .container {
  max-width: 100vh;
}

.fullStock {
  width: 100%;
  height: 500px;
  background: #445688;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fullStock h1 {
  font-size: 70px;
}

.favorite .container {
  max-width: 33vh;
  align-items: flex-start;
}

.favoriteStock {
  width: 100%;
  height: 500px;
  background: #445688;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.favoriteStock h1 {
  font-size: 7vh;
}

.favoriteInfo {
  display: inline-flex;
  justify-content: space-between;
  font-size: 2vh;
  text-align: center;
  /* padding-top: 5vh; */
  padding: 3vh 20px;
}

.error {
  font-size: 5vh;
  text-align: center;
  padding-bottom: 5vh;
}

.errortext {
  text-align: center;
  object-position: center;
  padding-top: 5vh;
}

.errorh3 {
  padding-top: 3vh;
}

.title {
  padding: 1vh;
  font-size: 5vh;
  display: inline;
  text-align: right;
  color: rgb(201, 144, 40);
}

.info {
  display: inline-flex;
  justify-content: space-between;
  font-size: 4vh;
  text-align: center;
  /* padding-top: 5vh; */
  padding: 3vh 20px;
}

.badge {
  background-color: lime;
  color: white;
  border-radius: 10px;
  padding: 0 1vh;
  margin-left: 0.5vh;
}

.navBar {
  width: 100%;
  background: #18305a;
  padding: 5vh;
  margin-bottom: 5px;
  justify-content: space-between;
  font-weight: 700;
  display: inline-flex;
  color: rgb(201, 144, 40);
}

.button {
  font-weight: 200;
  border-radius: 3px;
  border-color: pink;
  background-color: #fff;
  color: #18305a;
  padding: 1vh 1vh;
  margin-top: 1vh;
  display: inline-flex;
  justify-content: right;
}
