* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.container {
  width: auto;
  max-width: 980px;
  margin: auto;
}

.home {
  /* background: #445688; */
  background: #9abbbb;
}

.home .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.card {
  width: 300px;
  height: 260px;
  background: #18305a;
  /* 003153  */
  color: aliceblue;
  padding: 40px;
  margin: 16px 16px;
}

.cardWrapper {
  display: inline-flex;
  justify-content: center;
  width: 66%;
  flex-wrap: wrap-reverse;
}

.card h1 {
  font-size: 30px;
  text-align: center;
}

.card a {
  text-decoration: none;
  display: inline-block;
  background: #40538a;
  color: #fff;
  padding: 10px;
  margin: 14px 0 0 0;
  transition: all 300ms ease-in-out;
}

.card a:hover {
  background: #3a4c80;
}

.full {
  /* background: #2a3961; */
  background: #9abbbb;
}

.full .container {
  max-width: 100vh;
  padding-top: 15vh;
}

.fullStock {
  width: 100%;
  height: 500px;
  background: #18305a;

  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fullStock h1 {
  font-size: 70px;
}

.favorite .container {
  max-width: 33vh;
  align-items: flex-start;
}

.favoriteStock {
  width: 100%;
  height: 500px;
  background: #445688;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.favoriteStock h1 {
  font-size: 7vh;
}

.favoriteInfo {
  display: inline-flex;
  justify-content: space-between;
  font-size: 2vh;
  text-align: center;
  /* padding-top: 5vh; */
  padding: 3vh 20px;
}

.error {
  font-size: 5vh;
  text-align: center;
  padding-bottom: 5vh;
}

.errortext {
  text-align: center;
  object-position: center;
  padding-top: 5vh;
}

.errorh3 {
  padding-top: 3vh;
}

.title {
  margin-top: 10vh;
  padding: 4vh;
  font-size: 5vh;
  font-weight: 200;
  display: block;
  text-align: center;
  color: rgb(189, 139, 47);
  width: 100%;
}

.info {
  display: inline-flex;
  justify-content: space-between;
  font-size: 4vh;
  text-align: center;
  /* padding-top: 5vh; */
  padding: 3vh 20px;
}

.navBar {
  width: 100%;
  background: #18305a;
  padding: 2.5vh;
  margin-bottom: 50px;
  justify-content: space-between;
  font-weight: 500;
  font-size: x-large;
  display: flex;
  /* border-bottom: 10px solid rgb(0, 10, 80); */
  box-shadow: 0 2px 4px 0 #18305a;
  color: white;
  position: fixed;
}

.navHeader {
  color: aliceblue;
  padding: 2vh;
  margin: 0%;
}

.button {
  font-weight: 200;
  border-radius: 3px;
  border-color: pink;
  background-color: #fff;
  color: #18305a;
  padding: 1vh 1vh;
  margin-top: 1vh;
  display: inline-flex;
  justify-content: right;
}

.searchBar-Container {
  background: #fff;
  height: 30px;
  width: 50%;
  border-radius: 30px;
  padding: 20px 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.searchBar-Container:hover > .search-input {
  width: 55vh;
}

.search-input {
  background: transparent;
  border: none;
  outline: none;
  width: 10vw;
  font-weight: 500;
  font-size: 14px;
  transition: 1.5s;
  color: #2e5d5a;
}

.search-btn {
  color: #5cbdbb;
}

.fullStock-searchBar {
  display: inline-flexbox;
  margin-bottom: 5vh;
}

.stockList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-weight: 500;
  font-size: medium;
  /* justify-content: space-around; */
  align-items: center;
  width: 100%;
}

.titleCompaniesContainer {
  background: #18305a;
  display: inline-block;
  padding: 5vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  box-shadow: 4px 4px 6px 0 #4d5555;
}

.titleCompanies {
  text-align: center;
  color: rgb(189, 139, 47);
  width: 100%;
  font-size: 4vh;
}

.company {
  padding: 10px;
  color: rgb(179, 131, 43);
}

.companiesSection {
  width: 100%;
  min-height: 100vh;
  display: inline-block;
  background-color: #9abbbb;
  padding-top: 15vh;
  padding-bottom: 15vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.containerCompanies {
  display: block;
  width: 90%;
  max-width: 85vw;
  background: #18305a;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 6px 0 #4d5555;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.aboutSection {
  width: 100%;
  min-height: 100vh;
  display: inline-block;
  background-color: #9abbbb;
  padding-top: 15vh;
  padding-bottom: 15vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.containerAbout {
  width: 95%;
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
  background: #18305a;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-bottom: 5vh;
  box-shadow: 4px 4px 6px 0 #4d5555;
  text-align: center;
  /* position: relative; */
}

.containerAboutTitle {
  background: #18305a;
  display: inline-block;
  padding: 5vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  box-shadow: 4px 4px 6px 0 #4d5555;
}

.aboutTitle {
  padding: 4vh;
  font-size: 4vh;
  font-weight: 200;
  display: inline-block;
  text-align: center;
  color: rgb(189, 139, 47);
  width: 80%;
  margin-top: 3vh;
  margin-bottom: 3vh;
  margin-right: auto;
  margin-left: auto;
}

.abouth2 {
  font-size: 4vh;
  margin-bottom: 1vh;
  font-weight: 500;
  color: rgb(179, 131, 43);
}

.aboutp {
  font-size: large;
  font-weight: 400;
  margin-top: 2vh;
  margin-bottom: 2vh;
  color: rgb(197, 215, 231);
}
